body{
    margin: 0px;
}

img{
    height: 25px;
}

header{
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    gap: 25px;
    font-size: 12px;
}

.top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav{
    margin-left: 20px;
}

nav > a:first-child{
    text-decoration: none;
    font-weight: bold;
    color: rgb(11, 11, 113);
}

.search{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.search > label{
    margin-right: 5px;
}

.search > select, .search > input{
    height: 21px;
    border-radius: 0px;
    margin: 0;
}

#buscador{
    height: 16px;
    width: 830px;
}

.account{
    margin-left: 20px;
    margin-right: 20px;
}

#company{
    text-decoration: none;
    color: rgb(199, 133, 12);
    font-weight: bold;
}

.cart{
    margin-left: 20px;
    margin-right: 20px;
}

.menuCompleto{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: -20px;
}

.menuCompleto > a{
    text-decoration: none;
}

.menuCompleto > a:first-child{
    font-weight: bold;
}

.update{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: rgb(255, 242, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.update > p{
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.update > p > span, #orange {
    color: rgb(199, 133, 12);
    font-weight: bold;
}

.containerImage{
    margin: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.image-viewer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.large-image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnails .thumbnail {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s;
}

.thumbnails .thumbnail:hover {
    border: 2px solid #000;
}

.child-2{
    width: 920px;
    height: 300px;
}

.child-2 > h3, .child-2 > p, .child-2 > h4{
    margin: 0;
}

#estrellas{
    height: 22px;
}

.child-2 > p:nth-child(3){
    display: flex;
    align-items: center;
    gap: 10px;
}

#red{
    color: rgb(123, 13, 13);
    font-weight: bold;
}

.child-3{
    height: 160px;
    width: 200px;
    background-color: rgb(184, 237, 238);
    border-radius: 13px;
}

.containerAzul{
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

.child-3 > h4{
    text-align: center;
    margin: 0;
    background-color: rgb(189, 189, 255);
    border-radius: 13px 13px 0px 0px;
    padding: 7px;
}

.child-3 > .containerAzul > button{
    border-radius: 13px;
    padding: 5px 10px;
    bottom: 1px solid rgb(222, 221, 221);
    font-size: 12px;
}

.child-3 > .containerAzul > button:last-child{
    display: flex;
    align-items: center;
}

.bought-Together{
    padding: 0px 30px;
}

#pack{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.bought-Together > h4, 
.product-details > h4, 
.product-description > h4{
    color: rgb(199, 133, 12);
    font-size: 17px;
}

#pack > img{
    height: 70px;
}

#pack > button{
    color: blue;
    border-radius: 5px;
    font-size: 10px;
    padding: 3px;
}

.product-details, .product-description{
    padding: 0px 30px;
    font-size: smaller;
}

.product-details > ul > li, 
.product-details > ul > li > ul > li,
.product-details > ul > li > ul > li > ul > li{
    list-style-type: none;
}

.product-details > ul > li > span,
.product-details > ul > li > ul > li > span{
    font-weight: bold;
}

.product-details > p > a{
    color: rgb(199, 133, 12);
    font-weight: bolder;
}

.product-details > h4, .product-description > h4{
    margin-bottom: 0px;
}

.product-details > ul{
    padding-left: 15px;
}

#estrellas-2{
    height: 20px;
    display: flex;
    align-items: center;
}
/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    #buscador{
        width: 100px;
    }

    .top{
        flex-direction: column;
    }

    .search{
        margin-top: 10px;
    }

    .containerImage{
        justify-content: center;
    }


  }
  
  /* Media query para pantallas medianas */
  @media only screen and (min-width: 601px) and (max-width: 1030px) {
    #buscador{
        width: 300px;
    }

    .search{
        margin-top: 10px;
    }

    .containerImage{
        justify-content: center;
    }
  }