body{
    margin: 0px;
}

img{
    height: 25px;
}

header{
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    gap: 25px;
    font-size: 12px;
}

.top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav{
    margin-left: 20px;
}

nav > a:first-child{
    text-decoration: none;
    font-weight: bold;
    color: rgb(11, 11, 113);
}

.search{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.search > label{
    margin-right: 5px;
}

.search > select, .search > input{
    height: 21px;
    border-radius: 0px;
    margin: 0;
}

#buscador{
    height: 16px;
    width: 860px;
}

.account{
    margin-left: 20px;
    margin-right: 20px;
}

#company{
    text-decoration: none;
    color: rgb(199, 133, 12);
    font-weight: bold;
}

.cart{
    margin-left: 20px;
    margin-right: 20px;
}

.menuCompleto{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: -15px;
}

.menuCompleto > a{
    text-decoration: none;
}

.menuCompleto > a:first-child{
    font-weight: bold;
}

.update{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: rgb(255, 242, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.update > p{
    margin: 0px;
}

.update > p > span {
    color: rgb(199, 133, 12);
    font-weight: bold;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    #buscador{
        width: 100px;
    }

    .top{
        flex-direction: column;
    }


  }
  
  /* Media query para pantallas medianas */
  @media only screen and (min-width: 601px) and (max-width: 1030px) {
    #buscador{
        width: 300px;
    }

  }